<%= form_with model: @post do |post| %>
  <p>タイトル</p>
  <%= post.text_field :title %>
  <p>内容</p>
  <%= post.text_area :body %>
  <%= hidden_field_tag 'user[id]', current_user.id %>
  <%= post.submit %>
<% end %>