<!DOCTYPE html>
<html>
  <head>
    <title>Base</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if user_signed_in? %>
  <header>
    <div><%= link_to "トップ", root_path %></div>
    <div><%#= link_to "投稿する", new_post_path %></div>
    <div><%#= link_to "投稿一覧", posts_path %></div>
    <div><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></div>
  </header>
  <% end %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
  </body>
</html>
